body {
  margin: 0;
  height: auto;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.terkep_a {
  margin: 0;
  padding: 22px 0px 0px 40px;
  display: inline-block;
  width: 300px;
  height: 20px;
  text-decoration: none;
  color: black;
}
.terkep_bekezdes {
  margin: 0;
  height: 7px;
  width: 300px;
  font-size: 140%;
}

#felso_h1 {
  text-align: center;
  padding: 0 0 0 0;
  margin: 8px 600px auto 0;
  font-size: 300%;
  font-weight: normal;
  width: 370px;
  float: right;
}
span {
  font-weight: bold;
}
.felso_header {
  width: 1500px;
  height: 70px;
  background-color: #b5b3b4;
  color: black;
  border-radius: 9999px;
  top: 10px;
  left: 200px;
  position: fixed;
  display: inline-block;
}

.masodik_header {
  width: 1920px;
  height: 300px;
  background-color: #1e1d14;
  color: white;
  margin: 100px 0 0 0;
}

.kerdes_div {
  width: auto;
  height: 1230px;
  background-color: #1e1d14;
}

#kerdes_h1 {
  padding: 100px 0 0 640px;
  font-size: 300%;
  width: 700px;
  color: white;
  margin: 0 0 100px 0;
}

.doboz {
  width: 900px;
  height: 70px;
  overflow: hidden;
  transition: height 0.5s ease;
  background-color: #35342c;
  display: block;
  margin: 0 auto 0 auto;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
  color: white;
}
.doboz.nyitva {
  height: 305px;
}

.doboz2 {
  width: 900px;
  height: 68px;
  overflow: hidden;
  transition: height 0.5s ease;
  background-color: #35342c;
  display: block;
  margin: 15px auto 0 auto;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
  color: white;
}

.doboz2.nyitva2 {
  height: 180px;
}

.doboz3{
   width: 900px;
  height: 68px;
  overflow: hidden;
  transition: height 0.5s ease;
  background-color: #35342c;
  display: block;
  margin: 15px auto 0 auto;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
  color: white;
}

.doboz3.nyitva3{
  height: 770px;
}

#kep {
  transition: 0.7s;
}
.kep.fordit {
  transform: rotate(45deg);
}
#kep2 {
  transition: 0.7s;
}
.kep2.fordit2 {
  transform: rotate(45deg);
}
#kep3{
  transition: 0.7s;
  
}
.kep3.fordit3 {
  transform: rotate(45deg);
}

#gomb {
  float: right;
  margin: 6.5px 0px 0 0;
  background-color: #35342c;
  border: none;
}

#doboz_h1 {
  padding: 22px 0 0 18px;
  margin: 0;
  font-size: 150%;
}

#doboz_p1 {
  padding: 0 0 0 18px;
  font-size: 120%;
}

#doboz1_span1 {
  padding: 0 0 0 0;
  font-size: 100%;
  display: block;
  margin: 0 0 0 0;
}

#doboz1_span2 {
  margin: 0 0 20px 0;
  display: block;
}

#doboz2_span1{
  margin: 0;
  display: block;
  padding: 0 0 0 18px;
  font-size: 120%;
  
}
#doboz2_span2{
   margin: 0;
  display: block;
  padding: 0 0 0 18px;
  font-size: 120%;
}

#doboz2_h1{
  font-size: 150%;
  padding: 7px 0 0 18px;
}


.doboz3_p1{
 padding: 0 0 0 18px;
 margin: auto 0 0 0;
}

.doboz3_h2{
  padding: 0 0 0 18px;
  margin: 15px 0 -12px 0;
  font-size: 110%;
  text-decoration: underline;
}
.doboz3_p2{
  padding: 0 0 0 18px;
}
#doboz3_a{
  padding: 10px 0 0 18px;
  display: inline-block;
  color: white;
}
.doboz3_p3{
  padding: 0 0 0 18px;
}
.doboz3_p4{
  padding: 0 0 0 18px;
}


.p1 {
  text-align: center;
  font-size: 150%;
  padding: 100px;
}

#bekezdes1 {
}
#bekezdes2 {
  padding: 0 0 0 0px;
}
#bekezdes3 {
  padding: 0 0 0 0px;
}
#bekezdes4 {
  display: ruby-text;
  margin: 20px 0 0 0;
}

#terkep {
  margin: 0;
  display: block;
  height: 1100px;
  width: 1920px;
}

#gombi{
  margin: 100px 0 0 400px;
  width: 200px;
  height: 100px;
}
