body{margin: 0;
  height: auto;
  width: auto;
font-family: "Montserrat", sans-serif;
}

.terkep_a {
  margin: 0;
  padding: 22px 0px 0px 40px;
  display: inline-block;
  width: 300px;
  height: 20px;
  text-decoration: none;
  color: black;
}
.terkep_bekezdes {
  margin: 0;
  height: 7px;
  width: 300px;
  font-size: 140%;
}

#felso_h1 {
  text-align: center;
  padding: 0 0 0 0;
  margin: 8px 600px auto 0;
  font-size: 300%;
  font-weight: normal;
  width: 370px;
  float: right;
}
span {
  font-weight: bold;
}
.felso_header {
  width: 1500px;
  height: 70px;
  background-color: #b5b3b4;
  color: black;
  border-radius: 9999px;
  top: 10px;
  left: 200px;
  position: fixed;
  display: inline-block;
}


.masodik_header{width: 1920px;
height: 300px;
background-color: #1E1D14;
color: white;
margin: 100px 0 0 0 ;}

.kerdes_div{width: auto;
height: 1000px;
background-color: #1E1D14;}

#kerdes_h1{padding: 100px 0 0 650px;
font-size: 300%;
width: 700px;
color: white;
margin: 0 0 100px 0;}

.kerdes_kis_div_1{
  width: 800px;
  height: 300px;
  background-color: #35342C;
  display: block;
  margin: 0 auto 0 auto;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow: 0 0 15px rgba(255,255,255,0.15);
}


.p1{text-align: center;
font-size: 150%;
padding: 100px;}

#bekezdes1{}
#bekezdes2{padding: 0 0 0 0px;
}
#bekezdes3{padding: 0 0 0 0px;}
#bekezdes4{display: ruby-text;
margin: 20px 0 0 0;}

#terkep{margin: 0 ;
display: block;
height: 1100px;
width:1920px ;}

