body{background-color: rgb(29, 153, 255);
    margin: 0px;
}

.alap{
    background-color:aliceblue;
    width: 800px;
    height: 1250px;
    margin: auto;
}
header{
    background-color: white;
    height: 50px;
    width: 1500px;
    margin: auto;
    border-radius: 0% 0% 35% 35%;
}
.menu{
    width: 37px;
    float: right;
    height: 33px;
    margin-right: 5px;
}
ul{
list-style: url(image.png);
list-style-position: inside;

}