body {
  margin: 0;
  background-color: rgb(240, 226, 226);
  text-align: justify;
 font-family: 'Montserrat', sans-serif;

}

.felso_header {
  width: 1500px;
  height: 70px;
  background-color: #B5B3B4;
  color: black;
  border-radius: 9999px;
  margin: 15px auto 20px auto;
}
.also_header{  width: auto;
  height: auto;
  background-color:black;
  color: white;
  margin: 0;
  border-radius: 0 0 0 0;
  margin: 0px 0 0 0;}

.terkep_a{margin: 25px 20px 1 40px;
  display: inline-block;
  width: 100px;
  height: 20px;

}
.terkep_bekezdes{
  margin: 0;
  height: 7px;
  width: 100px;
}

h1 {
  text-align: center;
  padding: 0 0 0 0;
  margin: auto 600px auto 0;
  font-size: 300%;
  font-weight: normal;
  width: 370px;
  float: right;
}
span{font-weight: bold;}

.div_h2{
  width: 250px;
  margin-top: 0;
  padding: 20px 0 0 20px;
  font-size: 170%;
  margin: 0 100px 49px 0;
}

.fo_container {
  margin: auto;
  width: 1400px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  border-radius: 3cqmax 3cqmax;
}

.fo_bekezdes {
  padding: 0 20px 20px 20px;
  font-size: 140%;
}

.planet_kep{width: 450px;
height: 300px;
margin: 0 0px 30px 50px;
float: right;
border-color: rgb(73, 73, 73);
border-width: 0 0 6px 6px;
border-style:double;
border-radius: 10%;
background-color: rgb(73, 73, 73);

}

h3{padding: 0 0 0 20px;
font-size: 150%;}

.also_header_h2{margin: 0px 0 10px 20px;
padding: 20px 0 0 0 ;
font-family: 'Montserrat', sans-serif;;}

.also_header_div{width: 1000px;
height: 70px;
margin: 0 0 0 20px;}

.also_header_logo_div{width: 60px;
height: 60px;
background-color:rgb(75, 75, 75) ;
float: left;
margin: 0 10px 0 0;
border-radius: 30%;}

#also_header_logo1{width: 60px;
height: 60px;
margin: 0 3px 0 0;
padding: 0 5px 0 0;}
#also_header_logo2{width: 50px;
height: 55px;
margin: 3px 0 0 5px ;}
#also_header_logo3{width: 50px;
height: 50px;
margin: 4px 0 0 5px;}
#also_header_logo4{width: 50px;
height: 48px;
margin: 4px 0 0 4px;}
#also_header_logo5{width: 42px;
height: 42px;
margin: 10px 0 0 9px;}
#also_header_logo6{width: 40px;
height: 40px;
margin: 11px 0 0 10.5px;}


