body{margin: 0;}

header{width: auto;
height: 70px;
background-color:rgb(104, 103, 103);
color: #019E69;
margin: 0;
border-radius: 0 0 6% 6%;}

h1{text-align: center;
padding: 5px 0 0 0 ;
margin: 0;
font-size: 300%;
}