body {
  background-color: #f4f6f8;
  margin: 0px;
  text-align: justify;
}

header {
  margin: 0px;
  background-color: black;
  height: 70px;
}
.menu {
  width: 750px;
  float: right;
}

.menup {
  color: aliceblue;
  font-size: 140%;
  text-align: right;
}

a {
  color: aliceblue;
  text-decoration: none;
  padding: 0 20px 0 0;
}

.menukep {
  width: 70px;
  height: 70px;
  float: right;
}

.nem {
  padding: 0;
}

h1 {
  margin: 10px 0px 20px 10px;
  font-size: 250%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.fenti {
  margin: 0px;
  background-color: black;
  height: 70px;
}

.lent {
  margin: 0px;
  background-color: black;
  height: 80px;
}

.mellek {
  font-size: 150%;
  margin: 10px 10px 50px 10px;
}

.kek {
  background-color: #0c52a3;
  height: 30px;
}

.fo_p {
  font-size: 140%;
  margin: 10px 10px 20px 10px;
}

.fo_doboz {
  width: 1200px;
  margin: auto;
}

table {
  float: right;
  height: 320px;
  width: 300px;
  margin: 20px 0px 0px 20px;
}

.jobbra_kep {
  height: 319px;
  width: 350px;
}

table,
td {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-collapse: collapse;
}
